name: Serverless App CI/CD Pipeline

on:
    workflow_dispatch:
env:
    BUCKET_NAME: "github-bucket-189602"
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                role-to-assume: arn:aws:iam::017432918922:role/github-deployment-role1
                role-session-name: samplerolesession
                aws-region: eu-west-1

            - name: Run Checkov
              uses: bridgecrewio/checkov-action@master
              with:
                directory: "/"
                output: "junitxml"
                junitxml: checkov_results.xml


            - name: Publish Checkov results
              uses: mikepenz/action-junit-report@v2
              if: always()
              with:
                report_paths: 'checkov_results.xml'
              

            - name: Run Semgrep
              uses: returntocorp/semgrep-action@v1

            # - name: Deploy
            #   run: sls deploy

            # - name: Cleanup
            #   run: sls remove
              

    

